# codeblock files
*.cbp
*.layout
/canYourSeafood/bin/
/canYourSeafood/obj/
/canYourSeafood/allegro-5.0.10-mingw-4.7.0/
/canYourSeafood/algif
*.o
*.depend
*.exe
*.log
*.cbp
*.layout
*.exe
*.log
*.depend
*.cbp
*.layout
